[submodule "src/tiny-gpu"]
	path = src/tiny-gpu
	url = https://github.com/adam-maj/tiny-gpu.git
[submodule "src/arithsgen_out/ariths-gen"]
	path = src/arithsgen_out/ariths-gen
	url = https://github.com/ehw-fit/ariths-gen
